<!-- FOOTER -->
<div class="footer_placeholder"></div>
<footer id="footer" class="footer">

    <div class="mbox">
        <div class="footer-wrap">

            <div class="footer-logo">
                <img src="/images/footer-logo.png" alt="" />
            </div>

            <div class="footer-text">
                <p>ИП Коньяков С.Д.</p>
                <p>ИНН 540110257752 ОГРНИП 315547600053812</p>
                <p>Р/сч: 40802810600010000088 в ПАО БАНК «ФК ОТКРЫТИЕ» БИК 045004839</p>
                <p>Корр. счет: 30101810550040000839</p>
            </div>

            <div class="footer-pay-img">
                <img src="/images/pay-services.jpg" alt="" />
            </div>

        </div>
    </div>

</footer>
<!-- FOOTER -->

<!-- SCRIPTS -->

<script>
    URL = 'townPopulation.json';
    var MainTown = '';
    var MainPopulation = '';
    var investToStart = 0;
    var city = '';
</script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script type="text/javascript" src="js/validate_script.js" ></script>

<!-- build:js -->

<script type="text/javascript" src="js/plagins/device.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.easy-autocomplete.min.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.fancybox.pack.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.formstyler.min.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.validate.min.js" ></script>
<script type="text/javascript" src="js/plagins/maskInput.js" ></script>
<script type="text/javascript" src="js/plagins/slick.js" ></script>

<script type="text/javascript" src="js/basic_scripts.js" ></script>
<script src="http://api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU" type="text/javascript"></script>
<script type="text/javascript" src="js/develop/develop_1.js" ></script>
<script type="text/javascript" src="js/develop/develop_4.js" ></script>
<!-- endbuild -->

<!-- /SCRIPTS -->
