<!-- HEADER -->
<header class="header">
  <div class="mbox_header">
    <div class="header-wrap">
      <a class="logo" href="index.html"><img src="images/logo.png" alt="logo"></a>
      <nav>
        <ul>
          <li><a href="#lists">Услуга</a></li>
          <li><a href="#video-scheme">Видео</a></li>
          <li><a href="#questions">Отзывы</a></li>
          <li><a href="#footer">Контакты</a></li>
        </ul>
      </nav>
      <div class="header-right">
        <div class="phone-wrap">
          <div class="phone-pic">
            <img src="images/phone-icon.png" alt="phone">
          </div>
          <a href="tel:88007753589">8 800 <span>775-35-89</span></a>
        </div>
        <div class="geolocation">
          <a id="user-city" href="#select-town-pop" class="town-change-popup">Новосибирск</a>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- /HEADER -->

