<section class="section3">
  <h2>Помогать призывникам — <span>очень выгодно</span></h2>
  <div class="helping-subtitle">
    <h3>Очень низкая конкуренция:</h3>
    <p>Для сравнения доли рынка: <span>г. Новосибирск (миллионник)</span></p>
  </div>
  <div class="pie-chart">
    <div class="chart-item">
      <div class="pie"></div>
      <div class="chart-info">
        <span>5</span>
        <p>Компаний помощи призывникам</p>
      </div>
    </div>
    <div class="chart-item">
      <div class="pie"></div>
      <div class="chart-info">
        <span>850</span>
        <p>Агентства недвижимости</p>
      </div>
    </div>
    <div class="chart-item">
      <div class="pie"></div>
      <div class="chart-info">
        <span>1547</span>
        <p>Юридические компании</p>
      </div>
    </div>
  </div>
  <div class="helping-subtitle-bottom">
    <span>Фактически – рынок свободен!</span>
    <span>... и так по всей России!</span>
  </div>
  <div class="helping-survey">
    <div class="survey-pie-wrap">
      <div class="survey-pie">
        <span>64%</span>
      </div>
    </div>
    <div class="survey-info">
      <h4>64% граждан не хотят, чтобы их сыновья (родственники) служили в армии</h4>
      <p>Согласно проведенному опросу ВЦИОМ от 2010 года: </p>
      <ul>
        <li>50% опрошенных не хотят, чтобы их сыновья и братья служили в армии; </li>
        <li>14% опрошенных – воздержались от ответа</li>
      </ul>
    </div>
  </div>
</section>