<section id="questions" class="section10">
  <div class="questions-request">
    <h2>ОСТАЛИСЬ ВОПРОСЫ?</h2>
    <p>Оставьте заявку и с Вами свяжется основатель проекта</p>
    <form class="request-form" action="ajax-programer.php" method="post">
      <div class="form-field">
        <input type="text" name="name" placeholder="ИМЯ" required />
      </div>
      <div class="form-field">
        <input type="tel" name="tel" placeholder="телефон" required />
      </div>
      <button class="el-button" type="submit">задать вопрос</button>
    </form>
  </div>
</section>