<section class="section1">
<!-- <dir id="preload">
  <img src="images/ajax-loader.gif" alt="">
</dir> -->
<div class="overlay"></div>
  <div class="business-wrap">
    <video id="video_bg" src="video/video.mp4" autoplay="true" loop=""></video>
    <div class="business-wrap-inner">
      <h1>Начни зарабатывать</h1>
      <div class="title-bottom">
        <p>от <span>6 000 000</span> рублей в год *</p>
        <div class="star-icon">
          <img src="images/star-icon.png" alt="star">
        </div>
      </div>
      <div class="business-bottom">
        <span>*средний заработок филиала </span>
        <a class="business-link el-button" href="#business-popup">Получить бизнес-план</a>
      </div>
    </div>
  </div>
</section>