<section class="section8 check_invest_to_start">
    <div class="check_invest_to_start_wrap">
        <div class="check_invest_to_start_top">
            <div class="check_invest_to_start_title">
                <h2>Рассчитать инвестиции<br>для запуска</h2>
            </div>
            <div class="check_invest_to_start_title_bottom">
                <span>Выберите город:</span>
                <a href="#select-town-pop" class="town-change town-change-popup">Новосибирск</a>
            </div>
            <div class="check_invest_to_start_grey">
                <i>* значения приблизительные</i>
            </div>
        </div>
        <div class="check_invest_to_start_bottom">
            <div class="check_invest_to_start_bottom_title">
                Итоговая сумма для запуска: <span>0</span> рублей
            </div>
            <div class="check_invest_to_start_grey">
                <span>* логика расчета итоговой суммы = разовые расходы плюс расходы на 3 месяца</span>
            </div>
            <div class="check_invest_to_start_button">
                <a href="#business-popup" class="business-link el-button"><span>Получить бизнес-план</span></a>
            </div>
        </div>
    </div>
</section>