<section class="section9 calculator_ocup">
    <div class="calculator_ocup-wrap">
        <div class="calculator_ocup_title">
            <h2>Калькулятор окупаемости <b>инвестиций</b> </h2>
        </div>

        <div class="calculator_ocup_form_wrap">
            <form action="ajax.php" class="calculator_ocup_form">
                <div class="calculator_ocup_form_top">
                    <div class="calculator_ocup_form_top_name">
                        <p>Выберите город, в котором хотите открыть офис</p>
                        <i>(сумма зависит от города)</i>
                    </div>
                </div>
                <div class="calculator_ocup_form_bottom">
                    <a href="#select-town-pop" class="town-change town-change-popup">Новосибирск</a>
                    <div class="calculator_ocup_form_bottom_table">
                        <div class="row">
                            <div class="item">Требуется инвестиций для запуска бизнеса: </div>
                            <div class="item">
                                <div class="item-wrap">
                                    <span id="calculator_ocup_invest_zapusk" data-number="750000">750 000</span>
                                </div>
                                <span>руб.</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="item">Количество договоров (в мес): от 1 до 40; </div>
                            <div class="item">
                                <div class="item-wrap widthoutbg">
                                    <select name="" id="calculator_ocup_col_dogovorov" class="calculator_ocup_col_dogovorov select">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12" selected >12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                        <option value="16">16</option>
                                        <option value="17">17</option>
                                        <option value="18">18</option>
                                        <option value="19">19</option>
                                        <option value="20">20</option>
                                    </select>
                                </div>
                                <span>руб.</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="item">Выручка (в мес):</div>
                            <div class="item">
                                <div class="item-wrap">
                                    <span id="calculator_ocup_viruchka" class="calculator_ocup_viruchka" data-number="250000">250 000</span>
                                </div>
                                <span>руб.</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="item">Рентабельность 50% </div>
                            <div class="item"></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="calculator_ocup_bottom_text">
            <p>Возврат инвестиций</p>
            <b>за <span class="calculator_ocup_summa_all" id="calculator_ocup_summa_all">0</span> <span class="calculator_ocup_summa_all_word">месяцев</span></b>
            <i>сумма инвестиций делить на прибыль в месяц</i>
        </div>


    </div>
</section>