<section class="section5">
    <div class="mbox">
        <div class="army-help">

            <div class="army-help-top">
                <p>Сфера помощи призывникам —</p>
                <p>
                    <b>социально и экономически полезна!</b>
                </p>
            </div>

            <div class="army-help-slider">

                <div class="slider">

                    <div class="item">

                        <div class="title">Экономическая польза для призывника</div>

                        <ul>
                            <li>
                                <p>за год призывник (в среднем) заработает 396 000 руб.;</p>
                            </li>
                            <li>
                                <p>за год квалификация призывника как специалиста вырастит и сможет зарабатывать больше;</p>
                                <p>(это важные шаги в благополучное будущее)</p>
                            </li>
                        </ul>

                    </div>

                    <div class="item">

                        <div class="title">Экономическая польза для призывника1</div>

                        <ul>
                            <li>
                                <p>за год призывник (в среднем) заработает 396 000 руб.;</p>
                            </li>
                            <li>
                                <p>за год квалификация призывника как специалиста вырастит и сможет зарабатывать больше;</p>
                                <p>(это важные шаги в благополучное будущее)</p>
                            </li>
                        </ul>

                    </div>

                    <div class="item">

                        <div class="title">Экономическая польза для призывника2</div>

                        <ul>
                            <li>
                                <p>за год призывник (в среднем) заработает 396 000 руб.;</p>
                            </li>
                            <li>
                                <p>за год квалификация призывника как специалиста вырастит и сможет зарабатывать больше;</p>
                                <p>(это важные шаги в благополучное будущее)</p>
                            </li>
                        </ul>

                    </div>

                    <div class="item">

                        <div class="title">Экономическая польза для призывника3</div>

                        <ul>
                            <li>
                                <p>за год призывник (в среднем) заработает 396 000 руб.;</p>
                            </li>
                            <li>
                                <p>за год квалификация призывника как специалиста вырастит и сможет зарабатывать больше;</p>
                                <p>(это важные шаги в благополучное будущее)</p>
                            </li>
                        </ul>

                    </div>

                    <div class="item">

                        <div class="title">Экономическая польза для призывника4</div>

                        <ul>
                            <li>
                                <p>за год призывник (в среднем) заработает 396 000 руб.;</p>
                            </li>
                            <li>
                                <p>за год квалификация призывника как специалиста вырастит и сможет зарабатывать больше;</p>
                                <p>(это важные шаги в благополучное будущее)</p>
                            </li>
                        </ul>
                        
                    </div>

                </div>

            </div>

        </div>
    </div>
</section>