<section id="lists" class="section6">
  <div class="lists-wrap">
    <div class="list-wrap list-left">
      <h3>Что входит во франшизу</h3>
      <ul>
        <li><b>Наработана схема помощи призывникам</b> (база знаний);</li>
        <li><b>Курировать клиентов будут наши юристы и врачи</b> (через личный кабинет); </li>
        <li><b>Известный в России брэнд</b> в сфере помощи призывникам; </li>
        <li><b>Разработан удобный личный кабинет</b> для клиентов и франчайзи; </li>
        <li><b>Настройка всех рекламных кампаний</b> (с проверенной эффективностью); </li>
        <li><b>Размещение на сайте <a href="http://www.armeyka.net" target="_blank">armeyka.net</a></b> – контактов офиса (посещаемость сайта более 180 000 уников в месяц); </li>
      </ul>
    </div>
    <div class="list-wrap list-right">
      <h3>Наши преимущества</h3>
      <ul>
        <li><b>Весь паушальный взнос – инвестируется в развитие франчайзи</b> (на расчетный счет компании франчайзи);</li>
        <li><b>Вам не потребуется нанимать юриста и врача</b> (платить им оклад, арендовывать лишние квадратные метры и следить за их компетенцией); </li>
        <li><b>Всё курирование и консультирование клиентов</b> франчайзи осуществляется юристами и врачами головного офиса – через личный кабинет – это очень удобно;</li>
        <li><b>Вы сможете целиком сконцентрироваться на продажах и поиске клиентов</b>, а сопровождать будут юристы и врачи головного офиса;</li>
      </ul>
    </div>
  </div>
</section>