<section class="section4">
  <div class="volume-market">
    <h2>Объём рынка</h2>
    <form action="ajax.php" method="post">
      <div class="city-wrap">
        <span>Город:</span>
        <a href="#select-town-pop" class="town-change town-change-popup">Новосибирск</a>
      </div>
      <div class="volume-market-top">
        <div class="market-top-item">
          <span id="recruitsCity">107 400</span>
          <p>призывников в вашем городе</p>
        </div>
        <div class="market-top-item">
          <span id="recruitsDeferred">41 390</span>
          <p>пользующихся отсрочкой</p>
        </div>
        <div class="market-top-item">
          <span id="recruitsNine">29 642</span>
          <p>план по призыву за 9 лет</p>
        </div>
      </div>
      <div class="market-note market-top-note">
        <p>* План по призыву за 9 лет – в сумме составляет лишь 26,6% от общего количества призывников.</p>
        <p>При этом - оставшиеся 73,4% призывников - боятся оказаться в списке призванных.</p>
      </div>
      <div class="volume-market-bottom">
        <div class="market-bottom-item">
          <div class="volume-pic">
            <img src="images/money-icon.png" alt="money">
          </div>
          <b><span id="potentialSize">7,293</span> млрд</b>
          <i>рублей</i>
          <p>потенциальный объём рынка в вашем городе (TAM)</p>
        </div>
        <div class="market-bottom-item">
          <div class="volume-pic">
            <img src="images/money-icon.png" alt="money">
          </div>
          <b><span id="realSize">5,313</span> млрд</b>
          <i>рублей</i>
          <p>реальный объем рынка в вашем городе (SAM)</p>
        </div>
        <div class="market-bottom-item">
          <div class="volume-pic">
            <img src="images/money-icon.png" alt="money">
          </div>
          <b><span id="marketShare">106</span> млн</b>
          <i>рублей</i>
          <p>доля рынка 2% (SOM):</p>
        </div>
      </div>
      <div class="market-note market-bottom-note">
        <p>** Даже при занятии доли рынка всего в 5% – Вы заработаете 3 000 000 рублей</p>
      </div>
    </form>
  </div>
</section>